.artikels-form {
    display: flex;
    justify-content: center;
}

.artikel-form-input {
    margin: 0 auto;
    width: fit-content;
}

.edit-area {
    margin-top: 1.667em;
    width: 1000px;
}

.beheer-art-flex {
    display: flex;
    justify-content: flex-end;
}

.beheer-art-flex a {
    margin: 15px 10px 0 0;
}