.button-yellow {
    width: fit-content;
    min-width: 92px;
    height: 40px;
    padding: 0.333em;
    background: var(--colorYellow);
    box-shadow: 0px 12px 25px rgba(255, 201, 30, 0.25);
    border: 2.5px solid var(--colorYellow);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorBlack);
    font-weight: var(--fontWeightSemiBold);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: border;
    transition-property: border;
    @media (min-width: 834px) {
        padding: .7em;
        height: 50px;
    }
}

.button-yellow img {
    padding-left: 5px;
}

.button-link {
    text-decoration: none;
    font-weight: var(--fontWeightSemiBold);
}

.button-yellow:hover,
.button-yellow:focus {
    border: 2.5px solid var(--colorBlack);
    text-decoration: underline;
}

.button-yellow:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}