.card-contact {
    background-color: var(--colorBlue);
    width: 155px;
    height: 180px;
    align-items: center;
    text-align: center;
    margin: .6em;
    display: grid;
    filter: drop-shadow(0px 10px 25px rgba(0, 73, 154, 0.25));
    @media (min-width: 834px) {
        height: 280px;
        width: 250px;
    }
}

.card-contact p {
    font-weight: var(--fontWeightBold);
    color: var(--colorBlack);
}

.card-contact--yellow {
    background-color: var(--colorYellow);
    height: 60px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    @media (min-width: 834px) {
        width: 250px;
        height: 80px;
    }
}

.flex-icon {
    display: flex;
    justify-content: center;
    align-self: end;
    color: var(--colorWhite);
}

.card-icon {
    height: 82px;
    @media (min-width: 834px) {
        height: 165px;
    }
}

.flex-cards a {
    text-decoration: none;
}