footer {
    display: flex;
    justify-content: center;
    background-color: var(--colorBlue);
    font-weight: var(--fontWeightSemiBold);
    margin-top: 2.222em;
    bottom: 0px;
    width: 100%;
    flex-shrink: 1;
    justify-content: center;
}

address {
    font-style: normal;
    line-height: 175%;
    padding: .556em;
    margin: .9em .6em;
    color: var(--colorWhite);
    text-align: start;
    display: flex;
    /*justify-content: center;*/
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.address-item {
    display: flex;
    align-items: center;
    height: 35px;
}

.address-item p,
.address-item a {
    padding: 1.667em;
}

address a {
    text-decoration: none;
    color: var(--colorWhite);
}

.vl {
    height: 20px;
    border-left: 2px solid #FFC91E;
    display: none;
}