.header {
    background-color: white;
    /*height: 50px;*/
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*height: 50px;*/
    padding: 0.2em;
}

.header-items a {
    text-decoration: none;
    color: var(--colorBlue);
    margin: 0.278em;
}

.header-buttons {
    display: flex;
}

.logo-lichtenliefde {
    align-self: center;
}

.logo-lichtenliefde img {
    width: 100%;
}