.header {
    background-color: white;
    /*height: 50px;*/
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*height: 50px;*/
    margin: 0.556em;
}

.header-items a {
    text-decoration: none;
    color: var(--colorBlue);
    margin: 0.278em;
}

.header-buttons {
    display: flex;
}

.logo {
    align-self: center;
}