.inhoud-lijst {
    display: flex;
    flex-direction: column;
}

.inhoud-lijst p {
    font-weight: var(--fontWeightSemiBold);
    font-size: var(--fontSmall);
    color: var(--colorBlack);
    padding-left: 5px;
}

.inhoud-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: var(--colorBlack);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.inhoud-item:hover {
    background-color: var(--colorYellow);
    text-decoration: underline;
}

.inhoud-item:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.inhoud-lijst-lijn {
    border-top: 2.5px solid var(--colorDarkGrey);
    border-radius: 1px;
}

.inhoud-item-label {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.inhoud-item-label img {
    margin-left: 5px;
}