.login-header {
    color: var(--colorBlue);
    text-align: center;
}

.login-sub {
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
}

.login-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    width: -webkit-fill-available;
    width: 100%;
    max-width: 350px;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

input[type=password] {
    background: var(--colorWhite);
    border: solid var(--colorBlue);
    border-width: 0px 1.5px 1.5px 1.5px;
    border-radius: 0px 0px 1px 1px;
    padding: auto;
    padding: 12px 10px;
    color: var(--colorDarkGrey);
}

.login-grid-button {
    align-items: flex-end;
}

.button-back {
    transition-duration: 0.1s;
}

.button-back img {
    padding: 0 5px
}

.button-back:hover img,
.button-back:focus img {
    -webkit-transform: translateX(-4px);
    transform: translateX(-5px);
}

.login-checkbox {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
}

input[type=checkbox] {
    background: var(--colorWhite);
    width: 20px;
    height: 20px;
}

.button-submit--login {
    margin-top: 0;
}

input+span {
    position: relative;
}

input+span::after {
    position: absolute;
    right: -35px;
    top: -35px;
}

input:invalid {
    border: 2.5px solid var(--colorError);
}

input:invalid+span::after {
    content: url(../../assets/img/icons/error-red.svg);
}

input:valid+span::after {
    content: url(../../assets/img/icons/succes-blue.svg);
}