.search {
    background-color: var(--colorBlue);
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: .9em .6em;
}

.search-input {
    background: var(--colorWhite);
    color: var(--colorDarkGrey);
    padding: .7em .4em;
    font-size: var(--fontSmall);
    border: none;
    border-radius: 1px;
    width: 100%;
}

.search-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorWhite);
    padding: 0.333em;
    border-radius: 1px;
    width: -webkit-fill-available;
    width: 100%;
    width: -moz-available;
    height: fit-content;
    @media (min-width: 834px) {
        width: 80%;
    }
}

.search-wrap button {
    border: none;
}

.search-button img {
    padding: 0 0 0 5px;
}

.search-button {
    width: fit-content;
    min-width: 92px;
    height: 40px;
    padding: 0.333em;
    background: var(--colorYellow);
    box-shadow: 0px 12px 25px rgba(255, 201, 30, 0.25);
    border: 2.5px solid var(--colorYellow);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorBlack);
    cursor: pointer;
    font-weight: var(--fontWeightSemiBold);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: border;
    transition-property: border;
    @media (min-width: 834px) {
        padding: .8em;
    }
}

.settings-link {
    margin-right: 0.278em;
    padding: 0.556em;
    height: fit-content;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.settings-link img {
    height: 30px;
    @media (min-width: 834px) {
        margin-right: .5em
    }
}

.search-container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-p {
    display: none;
    @media (min-width: 834px) {
        display: inline;
        color: var(--colorWhite);
        text-decoration: none;
    }
}

.search-button:hover,
.search-button:focus {
    text-decoration: underline;
    border: 2.5px solid var(--colorBlack);
}

.settings-link:hover,
.settings-link:focus {
    text-decoration: underline;
    text-decoration-color: var(--colorWhite);
}