.settings-flex {
    width: fit-content;
    margin: 0 auto;
}

.settings-grid {
    display: grid;
    grid-gap: 15px;
}

.settings-input {
    margin-right: .65em;
}

.settings-h2 {
    padding: 0 0 10px 0;
    margin: 0 0 1em 0;
    font-size: var(--fontRegular);
    font-weight: var(--fontWeightSemiBold);
}

.settings-button {
    align-items: flex-end;
}

.settings-button button {
    border: none;
}

label .label-kleur {
    padding: 15px 33px;
}

.settings-line {
    border-bottom: 1.5px solid var(--colorBlack);
    border-radius: 1px;
    margin: 15px 0;
}

.settings-radios {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
}

.settings-radios .radio {
    background-color: var(--colorWhite);
    background: #FCFDFC;
    border: 2.5px solid var(--colorBlack);
    border-radius: 2px;
    display: inline;
    cursor: pointer;
    padding: 20px;
    margin: 0 5px;
    @media (min-width: 834px) {
        padding: 20px 40px;
    }
    @media (min-width: 1280px) {
        margin-right: 1em;
    }
}

.settings-radios input[type=radio]:checked+.radio {
    background-color: var(--colorBlue);
    border: 2.5px solid var(--colorBlue);
    color: var(--colorWhite);
    text-decoration: underline;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px 3px var(--colorWhite), 0px 0px 0 1px var(--colorBlue);
}

.settings-radios label {
    transition: all 0.3s;
}