body {
    font-size: var(--fontSmall);
    font-family: var(--font);
    line-height: 150%;
    @media (min-width: 834px) {
        font-size: var(--fontRegular);
    }
    @media (min-width: 1280px) {
        font-size: var(--fontRegularTablet);
    }
}

.h1 {
    font-size: var(--fontHeader3);
    font-family: var(--font);
    font-weight: var(--fontWeightBold);
    line-height: 110%;
    margin: .4em 0;
    @media (min-width: 834px) {
        font-size: var(--fontHeaderTablet);
    }
    @media (min-width: 1280px) {
        font-size: var(--fontHeaderDekstop);
    }
}

.beheer-h1 {
    font-size: var(--fontHeader3);
    font-family: var(--font);
    font-weight: var(--fontWeightBold);
    line-height: 110%;
    margin: .4em 0;
}

h2 {
    font-size: var(--fontHeader2);
    font-family: var(--font);
    font-weight: var(--fontWeightBold);
    line-height: 110%;
    @media (min-width: 834px) {
        font-size: var(--fontHeader2Tablet);
    }
    @media (min-width: 1280px) {
        font-size: var(--fontHeaderTablet);
    }
}

.header-grey-cat {
    background-repeat: no-repeat;
    background-size: 6.2em 0.5em;
    padding: 0 0 4px 0;
    background-position: 0 19px;
    background-image: linear-gradient(0, var(--colorGrey), var(--colorGrey));
    @media (min-width: 834px) {
        background-size: 6.2em 1em;
        background-position: 0 28px;
    }
    @media (min-width: 1280px) {
        background-position: 0 41px;
    }
}

.header-grey-inhoud {
    background-repeat: no-repeat;
    background-size: 3.5em 0.5em;
    padding: 0 0 4px 0;
    background-position: 0 19px;
    background-image: linear-gradient(0, var(--colorGrey), var(--colorGrey));
    @media (min-width: 834px) {
        background-position: 0 28px;
    }
    @media (min-width: 1280px) {
        background-position: 0 41px;
    }
}

.header-grey-contactform {
    background-repeat: no-repeat;
    background-size: 9.2em 0.5em;
    padding: 0 0 4px 0;
    background-position: 0 19px;
    background-image: linear-gradient(0, var(--colorGrey), var(--colorGrey));
    @media (min-width: 834px) {
        background-position: 0 28px;
    }
    @media (min-width: 1280px) {
        background-position: 0 41px;
    }
}

.header-grey-contactgeg {
    background-repeat: no-repeat;
    background-size: 13.7em 0.5em;
    padding: 0 0 4px 0;
    background-position: 0 19px;
    background-image: linear-gradient(0, var(--colorGrey), var(--colorGrey));
    @media (min-width: 834px) {
        background-position: 0 28px;
    }
    @media (min-width: 1280px) {
        background-position: 0 41px;
    }
}